<!-- http://localhost:3000/posts/1/edit: RESTfulルーティングの規約に則ったURL -->
<h1>投稿編集</h1>

<!-- @post: コントローラーのeditアクションで定義した変数 -->
<%= form_with model: @post, class: "form-container" do |form| %>
  <div class="form-input">
    <!-- :title: title属性を付ける -->
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="form-input">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="button-container">
    <%= form.submit "更新", class: "link-button" %>
  </div>
<% end %>
